services:
  pode:
    build:
      context: .
      args:
        - PYTHON_IMAGE_VERSION=${PYTHON_IMAGE_VERSION}
        - POETRY_VERSION=${POETRY_VERSION}
        - DEV_IMAGE=${DEV_IMAGE}
    image: georgysk/pode:0.4.5
    volumes:
      - .:/opt/pode
    stdin_open: true
    tty: true
