name: CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    name: 'Test'
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        python_version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        platform: [
          {
            os: 'macos-latest',
            python_architecture: 'x64'
          },
          {
            os: 'ubuntu-latest',
            python_architecture: 'x64'
          },
          {
            os: 'windows-latest',
            python_architecture: 'x64'
          },
          {
            os: 'windows-latest',
            python_architecture: 'x86'
          },
        ]
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: 'Setup Python'
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}
          architecture: ${{ matrix.platform.python_architecture }}
      - name: 'Install packaging tools'
        run: python -m pip install -U pip setuptools
      - name: 'Install coverage dependencies'
        run: python -m pip install -U coverage
      - name: 'Install Poetry'
        run: python -m pip install poetry==1.3.1
      - name: 'Turn off virtual environment of Poetry'
        run: poetry config virtualenvs.create false
      - name: 'Install dependencies'
        run: poetry install
      - name: 'Run doctests'
        run: >
          coverage run -m doctest README.md
          && coverage run --append -m pytest --doctest-modules --ignore=tests
      - name: 'Run tests'
        run: coverage run --append -m pytest
      - name: 'Collect coverage'
        run: coverage xml
      - name: 'Upload coverage'
        uses: codecov/codecov-action@v2.1.0
        with:
          fail_ci_if_error: false
        continue-on-error: true